[Unit]
Description=Crabada service for mine in battle game.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
WatchdogSec=180
Restart=always
RestartSec=60
User=a_user
ExecStart=/home/a_user/crabada/services/battle-game/crabada.bgmine.sh
WorkingDirectory=/home/a_user/crabada


[Install]
WantedBy=multi-user.target
