[Unit]
Description=Crabada service for close and settle games.
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="MAINNET_AVAX_MAIN_ACCOUNT_PK=<private key settler>"
Environment="HARDHAT_NETWORK=<network>"
Type=simple
WatchdogSec=30
Restart=always
RestartSec=1
User=cerebro
ExecStart=/home/cerebro/crabada/services/crabada.closeandsettle.sh
WorkingDirectory=/home/cerebro/crabada

[Install]
WantedBy=multi-user.target
