[Unit]
Description=Crabada service for looting pending startGame transactions.
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="MAINNET_AVAX_MAIN_ACCOUNT_PK=<private key settler>,<private key looter 1>,..,<private key looter n>"
Environment="HARDHAT_NETWORK=<network>"
Type=simple
WatchdogSec=1800
Restart=always
RestartSec=15
User=cerebro
ExecStart=/home/cerebro/crabada/services/crabada.lootpending.sh
WorkingDirectory=/home/cerebro/crabada


[Install]
WantedBy=multi-user.target
