[Unit]
Description=Crabada service for reinforcing.
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="MAINNET_AVAX_MAIN_ACCOUNT_PK=<private key 1>,<private key 2>,..,<private key n>"
Environment="HARDHAT_NETWORK=<network>"
Type=simple
WatchdogSec=60
NotifyAccess=all
Restart=always
RestartSec=1
User=a_user
ExecStart=/home/a_user/crabada/services/crabada.reinforce.sh
WorkingDirectory=/home/a_user/crabada


[Install]
WantedBy=multi-user.target
