[Unit]
Description=Crabada service for looting.
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="MAINNET_AVAX_MAIN_ACCOUNT_PK=<private key 1>,<private key 2>,..,<private key n>"
Type=simple
WatchdogSec=1800
Restart=always
RestartSec=15
User=cerebro
ExecStart=/home/cerebro/crabada/services/crabada.lootguess.sh
WorkingDirectory=/home/cerebro/crabada


[Install]
WantedBy=multi-user.target
