[Unit]
Description=Crabada service for close and settle games.
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="MAINNET_AVAX_MAIN_ACCOUNT_PK=<private key settler>"
Environment="HARDHAT_NETWORK=<network>"
Type=simple
WatchdogSec=30
NotifyAccess=all
Restart=always
RestartSec=1
User=a_user
ExecStart=/home/a_user/crabada/services/crabada.closeandsettle.sh
WorkingDirectory=/home/a_user/crabada

[Install]
WantedBy=multi-user.target
