[Unit]
Description=Crabada service for mine loop.
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="MAINNET_AVAX_MAIN_ACCOUNT_PK=<your private key>"
Environment="CRABADA_ATTACKER_PK=<your private key>"
Environment="CRABADA_ATTACKER_2_PK=<your private key>"
Type=simple
WatchdogSec=600
Restart=always
RestartSec=15
User=cerebro
ExecStart=/home/cerebro/crabada/services/crabada.start.sh
WorkingDirectory=/home/cerebro/crabada


[Install]
WantedBy=multi-user.target
