[Unit]
Description=Crabada service for mine loop.
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="MAINNET_AVAX_MAIN_ACCOUNT_PK=<your private key>"
Environment="HARDHAT_NETWORK=<network>"
Type=simple
WatchdogSec=30
NotifyAccess=all
Restart=always
RestartSec=1
User=cerebro
ExecStart=/home/cerebro/crabada/services/crabada.mine.sh
WorkingDirectory=/home/cerebro/crabada


[Install]
WantedBy=multi-user.target
