[Unit]
Description=Crabada service for looting.
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="MAINNET_AVAX_MAIN_ACCOUNT_PK=<private key 1>,<private key 2>,..,<private key n>"
Environment="HARDHAT_NETWORK=<network>"
Environment="BLOCKCHAIN_NODE_ID=0"
Type=simple
WatchdogSec=1800
Restart=always
RestartSec=15
User=a_user
ExecStart=/home/a_user/crabada/services/crabada.loot.sh
WorkingDirectory=/home/a_user/crabada


[Install]
WantedBy=multi-user.target
