[Unit]
Description=Crabada service to provide a Telegram bot.
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="MAINNET_AVAX_MAIN_ACCOUNT_PK=<private key operation account>,<player 1>,..,<player n>"
Environment="HARDHAT_NETWORK=<network>"
Environment="BOT_TOKEN=<Telegram bot token>"
Type=simple
Restart=always
User=cerebro
ExecStart=/home/cerebro/crabada/services/crabada.telegram.sh
WorkingDirectory=/home/cerebro/crabada


[Install]
WantedBy=multi-user.target
