[Unit]
Description=Crabada service for saving mines reading from API.
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="HARDHAT_NETWORK=<network>"
Type=simple
WatchdogSec=30
NotifyAccess=all
Restart=always
RestartSec=60
User=a_user
ExecStart=/home/a_user/crabada/services/crabada.savemines.sh
WorkingDirectory=/home/a_user/crabada

[Install]
WantedBy=multi-user.target
